body{background: #EEE;}
header p{ height: 40px; font-size: 20px;}
section{width: 70%; margin-top: 150px;}
input[type=text],[type=password]{height: 35px;}
footer{display:inline-block; margin-top: 270px;}
section img{
	display:block!important;
	-webkit-transition:-webkit-transform 1s ease-out;
	-moz-transition:-moz-transform 1s ease-out;
	-o-transition:-o-transform 1s ease-out;
	-ms-transition:-ms-transform 1s ease-out;
	transition:transform 1s ease-out;

}
.circulo {
     width: 200px;
     height: 200px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #474848;
     display:block!important;
	-webkit-transition:-webkit-transform 1s ease-out;
	-moz-transition:-moz-transform 1s ease-out;
	-o-transition:-o-transform 1s ease-out;
	-ms-transition:-ms-transform 1s ease-out;
	transition:transform 1s ease-out;
	float: left;
	margin-left: 20px;
	margin-top: 20px;

}
.circulo a{text-decoration: none; color: #fff;}
.circulo:hover{
	-moz-transform: scale(1.1);
-webkit-transform: scale(1.1);
-o-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1)


}

section img:hover{
	-moz-transform: scale(1.1);
-webkit-transform: scale(1.1);
-o-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1)
}
section{margin: auto;}
#sucursal{float: left; width: 305px;}
#usuario{float: left; margin-top: 100px;}
#manta{float: left; margin-top: 100px;}
#clien{margin-top: 20px; width: 30%; float: left;}
#fecha{margin-top: 20px; width: 30%; margin-left:200px; float: left;}
#fecha input[type=text]{ height: 35px;}
#buscar_producto{margin-top: 150px; width: 60%;}
#factura{width: 70%; margin: auto;}
#fecha input[type=text]{ height: 35px;}
#factura input[type=text]{width: 60px;}
#factura a{text-decoration: none;}
#total{margin-left: 75%; }



